body{
    display: flex;
    font-family: Inter;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #EBF4F6;
}
html{
    width: 100vw;
    height: 100vh;
}

/* NAVBAR */
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.left-nav img{
    width: 70px;
    height: 70px;
}

.right-nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.option{
    text-decoration: none;
    color: gray;
    padding: 10px;
}

a:hover{
    color: black;
}
/* NAVBAR */

/* HERO-SECTION */

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1{
    margin: 10px;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 60px;
}
p{
    margin: 5px;
    font-size: 20px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-container img{
    width: 100%;
    height: 100%;
    display: block;
}

.overlay-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 2%;
}

.hero-buttom { 
    display: flex;
    position: absolute;
    top: 69%;
    left: 2%;
}

.button{
    background-color: black;
    color: white;
    border: black;
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
    width: 350px;
}

button:hover{
    background-color: #42C4FE;
    color: #f2f2f2;
}

/* MOBILE STYLE */
@media only screen and (max-width: 600px){

    /* NAVBAR */
    .navbar{
        padding: 10px;
    }

    .left-nav img{
        height: 50px;
        width: 50px;
    }
    
    .option{
        padding-right: 0;
        font-size: 13px;
    }

    /* HERO-SECTION */
    .hero-container{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 40px;
    }

    .hero-button{

    }

}

