body{
    font-family: Inter;
    font-size: 15px;
    background-color: #EBF4F6;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.signup img{
    width: 80px;
}

.signup{
    height: 625px;
    width: 650px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-name{
    display: flex;
    justify-content: space-between;
}
.input-uname{
    display: flex;
    justify-content: space-between;
}

.input-name input{
    width: 275px;
}
.input-uname input{
    width: 275px;
}

.input{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.input label{
    padding-left: 5px;
}

input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.show-password{
    padding-top: 5px;
}

.click{
    color: #f2f2f2;
}

button{
    border: none;
    background-color: #27AAFF;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
}

button:hover{
    background-color: #6fc6ff;
}

.hidden{
    display: none;
}

.success-toast {
    top: 20px; 
    background-color: #27AAFF;
    color: #fff;
    width: 250px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none; 
    z-index: 1000; 
}


/* MOBILE */
@media only screen and (max-width: 600px) {
    body{
        font-size: 13px;
        background-color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 0;
        left: 0;
        margin: auto;
        height: 100vh;
        width: 100vw;
    }

    .signup img{
        width: 50px;
    }

    h2{
        margin: 5px;
    }

    .signup{
        height: 90%;
        width: 80%;
        padding: 20px;
        background: none;
        border-radius: 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        box-shadow: none;
    }

    .input{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }
    
    .input-name{
        display: flex;
        justify-content: space-around;
    }
    .input-uname{
        display: flex;
        flex-direction: column;
    }
    
    input{
        width: 90%;
    }

    .input-name input{
        width: 79%;
    }
    .input-uname input{
        width: 90%;
    }
    .signup img{
        width: 50px;
    }

    .show-password input{
        width: 20px;
        height: 10px;
    }

    .button{
        margin-top: 10x;
        width: 100px;
        height: 30px;
        font-size: 15px
    }
}
/* MOBILE */


