body{
    font-family: Inter;
    font-size: 15px;
    background-color: #EBF4F6;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
}

.login img{
    width: 80px;
}

.login{
    height: 550px;
    width: 350px;
    padding: 50px;
    background-color: white;
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
}

.input{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.input label{
    padding-left: 5px;
}

input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.show-password{
    padding-top: 5px;
}

button{
    border: none;
    background-color: #27AAFF;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px
}

button:hover{
    background-color: #6fc6ff;
}

